*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(254,69,3);
}
#top{
    margin: 15px;
    height: 670px;
    width: 1000px;
    background-color: rgb(241,241,241);
    border: 0px solid transparent;
    border-radius: 25px;
}

#navbar{
    width: 1000px;
    height: 85px;
    background-color: rgb(48,48,48);
    border: 1px solid transparent;
    border-radius: 25px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.text{
  margin-left: 17px;
  height: 80px;
  width:200px;
  display: flex;
  justify-content:center;
  align-items: center;
}

span{
    margin:-1px;
    padding: 0;
    font-size: 25px;
}

.nav-item{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

#item{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: white;
}

a{
    margin: 3px;
}

.button{
    margin-right: 20px;
    height: 80px;
    width: 150px;
    display: flex;
    justify-content:center;
    align-items: center;
}

button{
    height: 30px;
    width: 130px;
    border: 0.3px solid white;
    border-radius: 20px;
    background-color: white;
    color: black;
}


#mid{
    height: 500px;
    width: 1000px;
    display: flex;
    justify-content: center;
}

.para{
    margin-left: 20px;
    height:400px;
    width: 60%;

    align-self: center;
}

.img{
    height: 400px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-self: center;
}

img{
    border-radius: 50%;
}

p{
    margin-bottom: 0px;
    font-size: 25px;
}

.button2{
    margin-left: 15px;
    height: 40px;
    width:85%;
    display: flex;
    justify-content: left;
}

.nav-button{
    margin-right: 15px;
    height: 37px;
    background-color:rgb(150, 63, 31) ;
    font-size: 25px;
}


.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}